html, body {
    background: url("../images/altitude-clouds-cold-daylight-417173.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    height: auto;
}

a {
    color: white;
}

#introtext {
    margin: 10%;
    height: 200px;
    position: relative;
}

#block1 {
    border: rgba(187,166,134) solid 8px;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 125px;
    height: 350px;
    width: 550px;
}

#block2 {
    background: rgba(227,222,217,0.9);
    position: absolute;
    z-index: 2;
    left: 60px;
    top: 175px;
    height: 350px;
    width: 550px;
}
